.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%; /* Same width as the textarea */
  padding: 10px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

.selected-options {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.selected-option {
  background-color: #e0e0e0; /* Grey color for selected items */
  padding: 5px 10px;
  margin: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.remove-option {
  margin-left: 5px;
  cursor: pointer;
  color: black; /* Black color for the 'x' */
  font-weight: bold;
}

.arrow {
  margin-left: auto;
  font-size: 14px;
  transition: transform 0.3s;
}

.arrow.down {
  transform: rotate(0deg);
}

.arrow.up {
  transform: rotate(180deg);
}

.placeholder {
  color: #888; /* Grey color for the placeholder */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown option {
  padding: 10px;
}

pre {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 20px;
}
.reg{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
